<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bulbul Hotels | Staff</title>
</head>
<body>
<table>
  <tr>
    <th>Employee ID Number</th>
    <th>Employee First Name</th>
    <th>Employee Last Name</th>
    <th>Employee Position</th>
  </tr>

  <tr th:each="employee:${staff}">
    <td th:text="${employee.employeeId}">ID</td>
    <td th:text="${employee.firstName}">First Name</td>
    <td th:text="${employee.lastName}">Last Name</td>
    <td th:text="${employee.position}">Position</td>
  </tr>
</table>
</body>
</html>